# Python practice problems with for loops, dict, input

In [45]:
# Review Python "input" # this should help with assignments below

In [1]:
Olympic_year = input("Which year will be next summer Olympics? ")

Which year will be next summer Olympics? 2020

In [2]:
print(type(Olympic_year)) # it is string

<class 'str'>

In [48]:
print(type(int(Olympic_year))) # it is integer

<class 'int'>

1) Write a for loop to print "Hello" 10 times.

In [4]:
# Write code here ...
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

2) Write a for loop to print even numbers in the range 1 .. 20

In [8]:
# Write code here ...
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [51]:
"""
3) Define a list of animals to be as follows:
animals = ["lion","tiger","elephant","giraffe","zebra"]

Now print animal names using for loop. The output should be as follows:
1 lion
2 tiger
3 elephant
4 giraffe
5 zebra
"""

'\n3) Define a list of animals to be as follows:\nanimals = ["lion","tiger","elephant","giraffe","zebra"]\n\nNow print animal names using for loop. The output should be as follows:\n1 lion\n2 tiger\n3 elephant\n4 giraffe\n5 zebra\n'

In [13]:
# Write code here ...
animals = ["lion","tiger","elephant","giraffe","zebra"]

for i in animals:
    print((animals.index(i) + 1), i)

1 lion
2 tiger
3 elephant
4 giraffe
5 zebra

In [53]:
"""
4) Visiting moon every year for next 10 years
The weight on moon can be estimated to be 18%  of weight on earth.
Write a program which will ask the user to enter current earth weight.
Then calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.

Use for loop to print weight on moon each year when you visit.
"""

'\n4) Visiting moon every year for next 10 years\nThe weight on moon can be estimated to be 18%  of weight on earth.\nWrite a program which will ask the user to enter current earth weight.\nThen calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.\n\nUse for loop to print weight on moon each year when you visit.\n'

In [35]:
# Write code here ...
Earth_year = float(input('Enter your weight:'))
from datetime import datetime
current_year = int(datetime.today().year)
print(current_year)
x = 2
for i in range(10):   
    print('Your weight in Moon will be in', (current_year + i),':', (18/100*Earth_year) + (x*i))

Enter your weight:34
2018
Your weight in Moon will be in 2018 : 6.12
Your weight in Moon will be in 2019 : 8.120000000000001
Your weight in Moon will be in 2020 : 10.120000000000001
Your weight in Moon will be in 2021 : 12.120000000000001
Your weight in Moon will be in 2022 : 14.120000000000001
Your weight in Moon will be in 2023 : 16.12
Your weight in Moon will be in 2024 : 18.12
Your weight in Moon will be in 2025 : 20.12
Your weight in Moon will be in 2026 : 22.12
Your weight in Moon will be in 2027 : 24.12

5) Write a for loop to find the sum of all numbers from 1 to 100; 1 + 2 + ... + 99 + 100

In [37]:
# Write code here ...
sum = 0
for i in range(101):
    sum = sum + i
print(sum)

5050

6) Write a for loop which will ask the user to input 4 numbers. The program should calculate sum of 4 numbers and print the sum.

In [2]:
# Write code here ...
x = int(input('Enter 1st number:'))
y = int(input('Enter 2nd number:'))
z = int(input('Enter 3rd number:'))
a = int(input('Enter 4th number:'))

print((x+y+z+a))

Enter 1st number:3
Enter 2nd number:4
Enter 3rd number:5
Enter 4th number:6
18

7) Write a Python for loop to find product of even number from 1 to 50;
2 x 4 x 6 x 8 x ... x 42 x 44 x 46 x 50

In [ ]:
# Write code here ...
product = 1
for i in range(2, 51, 2):
    product = product * i
#    print(i)
print('product: ', product)

8a) Find the index of minimum and maximum number in MyList.

In [2]:
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]

In [10]:
# Write code here ...
import numpy as np

print('length:', len(myList))
print('minimum:', min(myList), 'index:', myList.index(min(myList)))
print('maximum:', max(myList), 'index:', myList.index(max(myList)))
array1 = np.array(myList)
print('minimum:', min(myList), ', index:', np.where(array1 == min(myList)))
print('maximum:', max(myList), ', index:', np.where(array1 == max(myList)))

length: 201
minimum: 1 index: 106
maximum: 99 index: 169
minimum: 1 , index: (array([106, 195], dtype=int64),)
maximum: 99 , index: (array([169], dtype=int64),)

8b) In myList, find top-5 highest frequency numbers. List the numbers and number of occurences.

In [10]:
# write code here ...
#Method1
dict1={}.fromkeys(myList,0)

for w in myList:
    dict1[w] += 1
print("dict1:")
print(dict1)

vals = list(dict1.values())
print("vals:")
print(vals)

vals.sort(reverse = True)
print(vals)

print('5 highest frequency numbers:')
i = 0
while i < 3:
    for x,y in dict1.items(): 
        if y == vals[i]:
            print("Number:", x, "Frequecy:", y)
    i += 1

dict1:
{46: 2, 84: 5, 43: 2, 75: 5, 94: 3, 7: 4, 17: 7, 76: 2, 44: 4, 81: 2, 21: 4, 70: 1, 56: 4, 98: 4, 88: 2, 59: 3, 58: 5, 62: 2, 77: 6, 19: 2, 83: 2, 82: 2, 2: 2, 38: 3, 8: 2, 57: 3, 80: 1, 54: 3, 71: 4, 74: 3, 18: 2, 66: 4, 25: 3, 60: 4, 29: 1, 30: 2, 11: 2, 45: 2, 92: 3, 49: 5, 22: 1, 73: 1, 14: 3, 97: 3, 13: 3, 78: 2, 42: 2, 79: 1, 95: 3, 36: 2, 69: 3, 48: 2, 96: 3, 9: 3, 47: 2, 4: 3, 37: 2, 51: 2, 28: 2, 34: 1, 63: 2, 1: 2, 86: 3, 90: 1, 6: 1, 16: 3, 91: 2, 50: 4, 23: 1, 15: 1, 72: 2, 10: 1, 89: 1, 53: 1, 35: 1, 99: 1, 64: 1, 55: 1, 40: 1, 93: 1, 39: 1, 61: 1, 31: 1, 52: 1}
vals:
[2, 5, 2, 5, 3, 4, 7, 2, 4, 2, 4, 1, 4, 4, 2, 3, 5, 2, 6, 2, 2, 2, 2, 3, 2, 3, 1, 3, 4, 3, 2, 4, 3, 4, 1, 2, 2, 2, 3, 5, 1, 1, 3, 3, 3, 2, 2, 1, 3, 2, 3, 2, 3, 3, 2, 3, 2, 2, 2, 1, 2, 2, 3, 1, 1, 3, 2, 4, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[7, 6, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
5 highest frequency numbers:
Number: 17 Frequecy: 7
Number: 77 Frequecy: 6
Number: 84 Frequecy: 5
Number: 75 Frequecy: 5
Number: 58 Frequecy: 5
Number: 49 Frequecy: 5

9) Write a Python program to convert temperature from Centigrade to Fahrenheit
and Fahrenheit to Centigrade. At the start, the program should ask which way we are converting.

Then ask the user to input the temperature. Your program should do the conversion
and print the results.

(C x 9/5) + 32 = F

In [8]:
# Write code here 
Temp_type = input(" Enter 1: to convert from Centigrade to Fahrenheit \n Enter 2: to convert from Fahrenheit to Centigrade\n")
Temp = input("Enter Temperature:")

if Temp_type == "1":
    Out_temp = (float(Temp)*9/5) + 32
    print( "Temperature in Farenheit is", Out_temp)
elif Temp_type == "2":
    Out_temp = (float(Temp) - 32)*5/9
    print( "Temperature in Centigrade is", Out_temp)
else:
    print("Wrong Entry. Enter option 1 or 2")

 Enter 1: to convert from Centigrade to Fahrenheit
 Enter 2: to convert from Fahrenheit to Centigrade
2
Enter Temperature:67
Temperature in Centigrade is 19.444444444444443

In [7]:
"""
10) Print the times table:
1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=3 4x2=6 4x3=9 4x4=12 4x5=15
5x1=3 5x2=6 5x3=9 5x4=12 5x5=15

Use for loop nested with for loop to print the above multiplication table
"""

'\n10) Print the times table:\n1x1=1 1x2=2 1x3=3 1x4=4 1x5=5\n2x1=2 2x2=4 2x3=6 2x4=8 2x5=10\n3x1=3 3x2=6 3x3=9 3x4=12 3x5=15\n4x1=3 4x2=6 4x3=9 4x4=12 4x5=15\n5x1=3 5x2=6 5x3=9 5x4=12 5x5=15\n\nUse for loop nested with for loop to print the above multiplication table\n'

In [28]:
# write code here 
max_x = 5
max_y = 5
for x in range(max_x):
    x = x + 1
    for y in range(max_y):
        y = y+ 1   
        print(x,'x',y,'=',(x*y), end = '   ')
    print()

1 x 1 = 1   1 x 2 = 2   1 x 3 = 3   1 x 4 = 4   1 x 5 = 5
2 x 1 = 2   2 x 2 = 4   2 x 3 = 6   2 x 4 = 8   2 x 5 = 10
3 x 1 = 3   3 x 2 = 6   3 x 3 = 9   3 x 4 = 12   3 x 5 = 15
4 x 1 = 4   4 x 2 = 8   4 x 3 = 12   4 x 4 = 16   4 x 5 = 20
5 x 1 = 5   5 x 2 = 10   5 x 3 = 15   5 x 4 = 20   5 x 5 = 25